header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
}
body {
    background: url(https://i.imgur.com/PtxIRgq.png);
    background-size: cover;
    background-position: center;
}

#logo {
    display: inline-block;
    max-width: 20%;
    height: 100px;
    width: 110px;
    border: solid 1px transparent;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 100%;
    margin-left: 120px;
    float: left;
    margin-right: 0px;
    transition: .3s;
}
#icon{
    width: 100%;
    height: 100%;
}
#logo:hover {
    margin-left: 100px;
    width: 130px;
    height: 120px;
    box-shadow: 5px 5px 10px #000;
}
#head {
    overflow: hidden;
    font-family: Permanent Marker;
    background: url(https://thumbs.dreamstime.com/blog/2016/09/ad-lib-to-fade-give-more-freedom-web-designer-13741-image55977497.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
    height: 200px;
    margin-top: 57;
    border-bottom: 1px solid #000;
}
#head1 {
    height: 100%;
    width: 100%;
    background-color: rgba(156, 140, 140, 0.81);
    padding: 48;
}
#copy {
    text-align: center;
    margin-top: 252px;
}
#dropdown-menu #show{
    overflow: hidden;
}
footer {
    overflow: hidden;
    height: 300px;
    width: 100%;
    margin-bottom: -200px;    
    bottom: 0px;